{{page-title this.model.neighborhood}}

<this.mainMap.map.source
  @options={{hash
    type='geojson'
    data=this.model.feature
    promoteId='id'
  }} as |source|
>
  <source.layer
    @layer={{hash
      type='fill'
      paint=(hash
        fill-color='DodgerBlue'
        fill-opacity=0.4
      )
    }}
  />
</this.mainMap.map.source>

<div class="top-0 w-full">
  <h1 class="text-lg md:text-6xl">{{this.model.neighborhood}}</h1>
  <div class="bg-gray-50">
    <ul class="flex flex-col md:flex-row">
      <li class="p-1 md:p-5 hover:bg-gray-100 font-bold cursor-pointer">Assessment</li>
      <li class="p-1 md:p-5 hover:bg-gray-100 font-bold cursor-pointer">Built Environment</li>
      <li class="p-1 md:p-5 hover:bg-gray-100 font-bold cursor-pointer">Floodplain</li>
      <li class="p-1 md:p-5 hover:bg-gray-100 font-bold cursor-pointer">Projects</li>
      <li class="p-1 md:p-5 hover:bg-gray-100 font-bold cursor-pointer">Resources</li>
    </ul>
  </div>
</div>

<p>
  <b>The {{this.model.neighborhood}} Neighborhood Statistical Area</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis tempore aperiam odit voluptatibus velit qui optio quam exercitationem incidunt animi rem voluptate necessitatibus, nostrum obcaecati enim, ullam itaque et pariatur.
</p>

{{#let (filter-for-profile-tracts this.model.acs this.model.normalizedTractIDs) as |data20|}}
  {{#let (filter-for-profile-tracts this.model.acs15 this.model.normalizedTractIDs) as |data15|}}
    <div class="flex flex-col md:flex-row md:space-x-4">
      <div class="basis-1/2">
        <div class="bg-bone/[0.4]">
          <h3 class="bg-bone text-national-flag-blue font-bold p-2">
            Population
          </h3>
          <div class="p-2">
            <h2 class="text-national-flag-blue text-5xl text-center">
              {{#if data20.B01001_001E}}
                {{format-number data20.B01001_001E}}
              {{else}}
                N/A
              {{/if}}
            </h2>
            <p class="text-center">ACS 5-Year 2020</p>
          </div>
          <div class="p-2">
            <h2 class="text-national-flag-blue text-5xl text-center">
              {{#if data15.B01001_001E}}
                {{format-number data15.B01001_001E}}
              {{else}}
                N/A
              {{/if}}
            </h2>
            <p class="text-center">ACS 5-Year 2015</p>
          </div>
        </div>
      </div>
      <div class="basis-1/2 relative">
        <h3 class="bg-bone text-national-flag-blue font-bold p-2">
          Land Use
        </h3>
        <div class="md:flex-col h-full">
          <LandUseMap
            @bounds={{this.model.neighborhoodBounds}}
            @feature={{this.model.feature}}
            as |distribution|
          >
            {{#if distribution}}
              <div class="absolute bottom-1 left-1 bg-bone/50 p-1 hover:opacity-5 transition delay-100">
                <ul class="list-none list-inside categories">
                  {{#each distribution as |type|}}
                    <li class="text-xs" style="--category-color: {{type.[3]}};"><b>{{type.[0]}}</b>: {{type.[2]}}%</li>
                  {{/each}}
                </ul>
              </div>
            {{/if}}
          </LandUseMap>
        </div>
      </div>
    </div>
  {{/let}}
{{/let}}

<br />

<div class="flex flex-col md:flex-row md:space-x-4">
  <div class="flex-col md:basis-1/5 md:space-y-4">
    <div class="bg-bone/[0.4]">
      <h3 class="bg-bone text-national-flag-blue font-bold p-2">
        Overall Score
      </h3>
      <div class="p-2">
        <h2 class="text-national-flag-blue text-7xl text-center">
          {{this.model.__FAKE__overall_score}}
        </h2>
        based on a composite score including Strategic Planning Screening
      </div>
    </div>
    <div class="bg-bone/[0.4]">
      <h3 class="bg-bone text-national-flag-blue font-bold p-2">
        Group
      </h3>
      <div class="p-2">
        <h2 class="text-national-flag-blue text-7xl text-center">
          {{this.model.__FAKE__group}}
        </h2>
        based on the overall score, with 1 being the highest priority group
      </div>
    </div>
  </div>
  <div class="bg-bone/[0.4] md:basis-2/5">
    <h3 class="bg-bone text-national-flag-blue font-bold p-2">
      Top Performing
    </h3>
    <div class="p-2 md:flex-col h-full">
      <div class="flex flex-row">
        <div class="basis-1/3">
          <div>
            <RankingCircle
              @value={{this.model.lu_1_0_to_5}}
            />
            <h2>Access to Schools</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="basis-1/3">
          <div>
            <RankingCircle
              @value={{this.model.lu_2_0_to_5}}
            />
            <h2>Access to Healthcare</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="basis-1/3">
          <div>
            <RankingCircle
              @value={{this.model.lu_3_0_to_5}}
            />
            <h2>Access to Social Services</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-bone/[0.4] md:basis-2/5">
    <h3 class="bg-bone text-national-flag-blue font-bold p-2">
      Lowest Performing
    </h3>
    <div class="p-2">
      <div class="flex flex-row">
        <div class="basis-1/3">
          <div>
            <RankingCircle
              @barColor="red"
              @value={{this.model.lu_4_0_to_5}}
            />
            <h2>Access to Schools</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="basis-1/3">
          <div>
            <RankingCircle
              @barColor="red"
              @value={{this.model.lu_5_0_to_5}}
            />
            <h2>Access to Healthcare</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="basis-1/3">
          <div>
            <RankingCircle
              @barColor="red"
              @value={{this.model.lu_6_0_to_5}}
            />
            <h2>Access to Social Services</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

{{!-- List all the indicators! --}}
{{!-- <div class="flex flex-wrap">
  {{#each this.keys as |key|}}
    {{#let (get this.model (concat key '_0_to_5')) as |value|}}
      <div class="basis-1/4">
        <RankingCircle
          @value={{value}}
        />
        {{get this.dictionary key}}
      </div>
    {{/let}}
  {{/each}}
</div> --}}

{{outlet}}
